.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 0 15px 0 15px;
    
}
 /*-------------------------------------Header*/
 
/*------------------------------------ Background colors*/
body {
    background-image: url("../img/jeremy-bishop-uAfZBP-GtiA-unsplash.jpg");
    background-size: cover;
}

.container {
    background-color: rgb(34, 54, 53, 0.8);
}
body {
    background-color: rgba(0, 0, 0,0.99);
}
.bg-color-nav {
    background-color: rgba(11, 51, 40, 0.9);
}
.bg-color-posts {
    background-color: rgb(34, 54, 53, 0.9);
}
/*-----------------------------------------------------Posts*/
.right-padding {
    padding-right: 0;
}

/*-----------------------------------------------------instagram*/
.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 0 15px 0 15px;
    
}
 